### TABLES

In [1]:
# Load the SQL extension
%reload_ext sql

# Connect to a MariaDB database
%sql mysql+pymysql://csc370:1234@localhost:3306/sprint1

### Creating tables

- From last sprint, we have our tables created
- Implemented relationship tables

In [2]:
%%sql

DROP TABLE IF EXISTS `PortfolioHasAllocation`;
DROP TABLE IF EXISTS `PortfolioHasStock`;
DROP TABLE IF EXISTS `AllocationHasStock`;
DROP TABLE IF EXISTS `StockHasHistory`;
DROP TABLE IF EXISTS `SessionHasPortfolio`;

 * mysql+pymysql://csc370:***@localhost:3306/sprint1
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [3]:
%%sql

DROP TABLE IF EXISTS `PortfolioHasAllocation`;
DROP TABLE IF EXISTS `PortfolioHasStock`;
DROP TABLE IF EXISTS `AllocationHasStock`;
DROP TABLE IF EXISTS `StockHasHistory`;
DROP TABLE IF EXISTS `SessionHasPortfolio`;
DROP TABLE IF EXISTS `Session`;
DROP TABLE IF EXISTS `Portfolio`;
DROP TABLE IF EXISTS `Allocation`;
DROP TABLE IF EXISTS `Stocks`;
DROP TABLE IF EXISTS `History`;

-- Create main tables
CREATE TABLE `Session` (
    `SessionID` INT PRIMARY KEY
);

CREATE TABLE `Portfolio` (
    `PortfolioID` INT PRIMARY KEY,
    `TotalAmt` FLOAT,
    `Risk` VARCHAR(64)
);

CREATE TABLE `Allocation` (
    `AllocID` INT PRIMARY KEY,
    `Ticker` VARCHAR(10),
    `Amount` FLOAT
);

CREATE TABLE `Stocks` (
    `StockID` INT PRIMARY KEY,
    `Ticker` VARCHAR(10),
    `Sector` VARCHAR(64),
    `Price` FLOAT,
    `SD` FLOAT,   -- Standard Deviation
    `ERet` FLOAT  -- Expected Return
);

CREATE TABLE `History` (
    `HistoryID` INT PRIMARY KEY,
    `Ticker` VARCHAR(10),
    `Date` VARCHAR(10),
    `Price` FLOAT
);

-- Create relationship tables

-- Session HAS Portfolio
-- Portfolio HAS Stocks (assuming a portfolio can directly contain stocks)
CREATE TABLE `PortfolioHasStock` (
    `PortfolioID` INT,
    `StockID` INT,
    FOREIGN KEY (`PortfolioID`) REFERENCES `Portfolio`(`PortfolioID`),
    FOREIGN KEY (`StockID`) REFERENCES `Stocks`(`StockID`),
    PRIMARY KEY (`PortfolioID`, `StockID`)
);

-- Allocation HAS Stocks
CREATE TABLE `AllocationHasStock` (
    `AllocID` INT,
    `StockID` INT,
    FOREIGN KEY (`AllocID`) REFERENCES `Allocation`(`AllocID`),
    FOREIGN KEY (`StockID`) REFERENCES `Stocks`(`StockID`),
    PRIMARY KEY (`AllocID`, `StockID`)
);

-- Stocks HAS History
CREATE TABLE `StockHasHistory` (
    `StockID` INT,
    `HistoryID` INT,
    FOREIGN KEY (`StockID`) REFERENCES `Stocks`(`StockID`),
    FOREIGN KEY (`HistoryID`) REFERENCES `History`(`HistoryID`),
    PRIMARY KEY (`StockID`, `HistoryID`)
);

CREATE TABLE `SessionHasPortfolio` (
    `SessionID` INT,
    `PortfolioID` INT,
    FOREIGN KEY (`SessionID`) REFERENCES `Session`(`SessionID`),
    FOREIGN KEY (`PortfolioID`) REFERENCES `Portfolio`(`PortfolioID`),
    PRIMARY KEY (`SessionID`, `PortfolioID`)
);

-- Portfolio HAS Allocation
CREATE TABLE `PortfolioHasAllocation` (
    `PortfolioID` INT,
    `AllocID` INT,
    FOREIGN KEY (`PortfolioID`) REFERENCES `Portfolio`(`PortfolioID`),
    FOREIGN KEY (`AllocID`) REFERENCES `Allocation`(`AllocID`),
    PRIMARY KEY (`PortfolioID`, `AllocID`)
);

 * mysql+pymysql://csc370:***@localhost:3306/sprint1

0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [4]:
%%sql

SHOW TABLES;

 * mysql+pymysql://csc370:***@localhost:3306/sprint1
10 rows affected.

[('allocation',),
 ('allocationhasstock',),
 ('history',),
 ('portfolio',),
 ('portfoliohasallocation',),
 ('portfoliohasstock',),
 ('session',),
 ('sessionhasportfolio',),
 ('stockhashistory',),
 ('stocks',)]

### DEMO

- User inputs AAPL, MSFT, AMZN, GOOGL, META, TSLA, BRK-A, JNJ, JPM, V, PG, NVDA, DIS, KO, WMT (step-by-step).
- We have two python modules that dynamically populate the Stocks table and the History table.
- Usefullness of the History table: If we need data that yfinance cannot provide we can use the History table to calculate.

In [5]:
import get_stock
import get_histroy

tickers = 'AAPL, MSFT, AMZN, GOOGL, META, TSLA, BRK-A, JNJ, JPM, V, PG, NVDA, DIS, KO, WMT'
#tickers = input("Enter the stock ticker symbols (separated by commas): ").split(',')
sql_insert_statements_stock = get_stock.main(tickers)
print(sql_insert_statements_stock)

sql_insert_statements_history = get_histroy.main(tickers)
print(sql_insert_statements_history)

INSERT INTO stocks (StockID, Ticker, Sector, Price, SD, ERet) VALUES (1, 'AAPL', 'Technology', 192.25, 1.264, 3.761);
INSERT INTO stocks (StockID, Ticker, Sector, Price, SD, ERet) VALUES (2, 'MSFT', 'Technology', 415.13, 0.893, 3.194);
INSERT INTO stocks (StockID, Ticker, Sector, Price, SD, ERet) VALUES (3, 'AMZN', 'Consumer Cyclical', 176.44, 1.155, 3.265);
INSERT INTO stocks (StockID, Ticker, Sector, Price, SD, ERet) VALUES (4, 'GOOGL', 'Communication Services', 172.5, 1.019, 4.98);
INSERT INTO stocks (StockID, Ticker, Sector, Price, SD, ERet) VALUES (5, 'META', 'Communication Services', 466.83, 1.208, 4.944);
INSERT INTO stocks (StockID, Ticker, Sector, Price, SD, ERet) VALUES (6, 'TSLA', 'Consumer Cyclical', 178.08, 2.408, 1.859);
INSERT INTO stocks (StockID, Ticker, Sector, Price, SD, ERet) VALUES (7, 'BRK-A', 'Financial Services', 627400.0, 0.894, 4.715);
INSERT INTO stocks (StockID, Ticker, Sector, Price, SD, ERet) VALUES (8, 'JNJ', 'Healthcare', 146.67, 0.547, 7.459);
INSERT INTO stocks (StockID, Ticker, Sector, Price, SD, ERet) VALUES (9, 'JPM', 'Financial Services', 202.63, 1.116, 8.177);
INSERT INTO stocks (StockID, Ticker, Sector, Price, SD, ERet) VALUES (10, 'V', 'Financial Services', 272.46, 0.953, 4.103);
INSERT INTO stocks (StockID, Ticker, Sector, Price, SD, ERet) VALUES (11, 'PG', 'Consumer Defensive', 164.54, 0.423, 4.236);
INSERT INTO stocks (StockID, Ticker, Sector, Price, SD, ERet) VALUES (12, 'NVDA', 'Technology', 1096.33, 1.749, 3.253);
INSERT INTO stocks (StockID, Ticker, Sector, Price, SD, ERet) VALUES (13, 'DIS', 'Communication Services', 103.91, 1.395, 5.255);
INSERT INTO stocks (StockID, Ticker, Sector, Price, SD, ERet) VALUES (14, 'KO', 'Consumer Defensive', 62.93, 0.575, 4.783);
INSERT INTO stocks (StockID, Ticker, Sector, Price, SD, ERet) VALUES (15, 'WMT', 'Consumer Defensive', 65.76, 0.494, 4.045);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (1, 'AAPL', '2023-06-05', 178.63134765625);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (2, 'AAPL', '2023-06-06', 178.26329040527344);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (3, 'AAPL', '2023-06-07', 176.88063049316406);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (4, 'AAPL', '2023-06-08', 179.61611938476562);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (5, 'AAPL', '2023-06-09', 180.0040283203125);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (6, 'AAPL', '2023-06-12', 182.819091796875);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (7, 'AAPL', '2023-06-13', 182.3416290283203);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (8, 'AAPL', '2023-06-14', 182.97825622558594);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (9, 'AAPL', '2023-06-15', 185.02737426757812);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (10, 'AAPL', '2023-06-16', 183.94313049316406);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (11, 'AAPL', '2023-06-20', 184.03265380859375);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (12, 'AAPL', '2023-06-21', 182.98822021484375);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (13, 'AAPL', '2023-06-22', 186.01214599609375);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (14, 'AAPL', '2023-06-23', 185.69381713867188);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (15, 'AAPL', '2023-06-26', 184.29127502441406);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (16, 'AAPL', '2023-06-27', 187.06654357910156);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (17, 'AAPL', '2023-06-28', 188.250244140625);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (18, 'AAPL', '2023-06-29', 188.5884552001953);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (19, 'AAPL', '2023-06-30', 192.94532775878906);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (20, 'AAPL', '2023-07-03', 191.44329833984375);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (21, 'AAPL', '2023-07-05', 190.3192596435547);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (22, 'AAPL', '2023-07-06', 190.79673767089844);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (23, 'AAPL', '2023-07-07', 189.6726837158203);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (24, 'AAPL', '2023-07-10', 187.61361694335938);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (25, 'AAPL', '2023-07-11', 187.08644104003906);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (26, 'AAPL', '2023-07-12', 188.7675018310547);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (27, 'AAPL', '2023-07-13', 189.53343200683594);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (28, 'AAPL', '2023-07-14', 189.6826629638672);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (29, 'AAPL', '2023-07-17', 192.9652099609375);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (30, 'AAPL', '2023-07-18', 192.7065887451172);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (31, 'AAPL', '2023-07-19', 194.0693359375);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (32, 'AAPL', '2023-07-20', 192.10975646972656);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (33, 'AAPL', '2023-07-21', 190.926025390625);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (34, 'AAPL', '2023-07-24', 191.73178100585938);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (35, 'AAPL', '2023-07-25', 192.59715270996094);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (36, 'AAPL', '2023-07-26', 193.47251892089844);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (37, 'AAPL', '2023-07-27', 192.1992645263672);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (38, 'AAPL', '2023-07-28', 194.7954864501953);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (39, 'AAPL', '2023-07-31', 195.41221618652344);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (40, 'AAPL', '2023-08-01', 194.57664489746094);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (41, 'AAPL', '2023-08-02', 191.5626678466797);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (42, 'AAPL', '2023-08-03', 190.1601104736328);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (43, 'AAPL', '2023-08-04', 181.02859497070312);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (44, 'AAPL', '2023-08-07', 177.90521240234375);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (45, 'AAPL', '2023-08-08', 178.8501739501953);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (46, 'AAPL', '2023-08-09', 177.24868774414062);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (47, 'AAPL', '2023-08-10', 177.0298309326172);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (48, 'AAPL', '2023-08-11', 177.089599609375);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (49, 'AAPL', '2023-08-14', 178.75303649902344);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (50, 'AAPL', '2023-08-15', 176.7509307861328);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (51, 'AAPL', '2023-08-16', 175.87442016601562);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (52, 'AAPL', '2023-08-17', 173.31454467773438);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (53, 'AAPL', '2023-08-18', 173.8026123046875);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (54, 'AAPL', '2023-08-21', 175.1472930908203);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (55, 'AAPL', '2023-08-22', 176.53179931640625);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (56, 'AAPL', '2023-08-23', 180.406494140625);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (57, 'AAPL', '2023-08-24', 175.68516540527344);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (58, 'AAPL', '2023-08-25', 177.90638732910156);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (59, 'AAPL', '2023-08-28', 179.48016357421875);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (60, 'AAPL', '2023-08-29', 183.39466857910156);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (61, 'AAPL', '2023-08-30', 186.9107666015625);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (62, 'AAPL', '2023-08-31', 187.1298828125);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (63, 'AAPL', '2023-09-01', 188.713623046875);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (64, 'AAPL', '2023-09-05', 188.9526824951172);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (65, 'AAPL', '2023-09-06', 182.18943786621094);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (66, 'AAPL', '2023-09-07', 176.86050415039062);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (67, 'AAPL', '2023-09-08', 177.47805786132812);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (68, 'AAPL', '2023-09-11', 178.65342712402344);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (69, 'AAPL', '2023-09-12', 175.60548400878906);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (70, 'AAPL', '2023-09-13', 173.52371215820312);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (71, 'AAPL', '2023-09-14', 175.0476837158203);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (72, 'AAPL', '2023-09-15', 174.32054138183594);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (73, 'AAPL', '2023-09-18', 177.26890563964844);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (74, 'AAPL', '2023-09-19', 178.36456298828125);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (75, 'AAPL', '2023-09-20', 174.79867553710938);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (76, 'AAPL', '2023-09-21', 173.2447967529297);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (77, 'AAPL', '2023-09-22', 174.10142517089844);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (78, 'AAPL', '2023-09-25', 175.38633728027344);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (79, 'AAPL', '2023-09-26', 171.28257751464844);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (80, 'AAPL', '2023-09-27', 169.7585906982422);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (81, 'AAPL', '2023-09-28', 170.017578125);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (82, 'AAPL', '2023-09-29', 170.53553771972656);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (83, 'AAPL', '2023-10-02', 173.0655059814453);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (84, 'AAPL', '2023-10-03', 171.72084045410156);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (85, 'AAPL', '2023-10-04', 172.9758758544922);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (86, 'AAPL', '2023-10-05', 174.22096252441406);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (87, 'AAPL', '2023-10-06', 176.79078674316406);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (88, 'AAPL', '2023-10-09', 178.28488159179688);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (89, 'AAPL', '2023-10-10', 177.68724060058594);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (90, 'AAPL', '2023-10-11', 179.09169006347656);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (91, 'AAPL', '2023-10-12', 179.99810791015625);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (92, 'AAPL', '2023-10-13', 178.14544677734375);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (93, 'AAPL', '2023-10-16', 178.01593017578125);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (94, 'AAPL', '2023-10-17', 176.45213317871094);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (95, 'AAPL', '2023-10-18', 175.1472930908203);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (96, 'AAPL', '2023-10-19', 174.76878356933594);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (97, 'AAPL', '2023-10-20', 172.19894409179688);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (98, 'AAPL', '2023-10-23', 172.31846618652344);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (99, 'AAPL', '2023-10-24', 172.75672912597656);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (100, 'AAPL', '2023-10-25', 170.42596435546875);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (101, 'AAPL', '2023-10-26', 166.23252868652344);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (102, 'AAPL', '2023-10-27', 167.5572967529297);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (103, 'AAPL', '2023-10-30', 169.619140625);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (104, 'AAPL', '2023-10-31', 170.09725952148438);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (105, 'AAPL', '2023-11-01', 173.28465270996094);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (106, 'AAPL', '2023-11-02', 176.87046813964844);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (107, 'AAPL', '2023-11-03', 175.95408630371094);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (108, 'AAPL', '2023-11-06', 178.52392578125);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (109, 'AAPL', '2023-11-07', 181.1037139892578);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (110, 'AAPL', '2023-11-08', 182.1695098876953);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (111, 'AAPL', '2023-11-09', 181.69140625);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (112, 'AAPL', '2023-11-10', 185.9102783203125);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (113, 'AAPL', '2023-11-13', 184.3144989013672);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (114, 'AAPL', '2023-11-14', 186.9475555419922);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (115, 'AAPL', '2023-11-15', 187.51605224609375);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (116, 'AAPL', '2023-11-16', 189.21160888671875);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (117, 'AAPL', '2023-11-17', 189.191650390625);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (118, 'AAPL', '2023-11-20', 190.947021484375);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (119, 'AAPL', '2023-11-21', 190.13916015625);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (120, 'AAPL', '2023-11-22', 190.80738830566406);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (121, 'AAPL', '2023-11-24', 189.47091674804688);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (122, 'AAPL', '2023-11-27', 189.2913818359375);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (123, 'AAPL', '2023-11-28', 189.8997802734375);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (124, 'AAPL', '2023-11-29', 188.8724822998047);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (125, 'AAPL', '2023-11-30', 189.45095825195312);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (126, 'AAPL', '2023-12-01', 190.73757934570312);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (127, 'AAPL', '2023-12-04', 188.9323272705078);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (128, 'AAPL', '2023-12-05', 192.91184997558594);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (129, 'AAPL', '2023-12-06', 191.81475830078125);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (130, 'AAPL', '2023-12-07', 193.75962829589844);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (131, 'AAPL', '2023-12-08', 195.19583129882812);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (132, 'AAPL', '2023-12-11', 192.67247009277344);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (133, 'AAPL', '2023-12-12', 194.19847106933594);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (134, 'AAPL', '2023-12-13', 197.43992614746094);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (135, 'AAPL', '2023-12-14', 197.5895233154297);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (136, 'AAPL', '2023-12-15', 197.0509490966797);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (137, 'AAPL', '2023-12-18', 195.37535095214844);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (138, 'AAPL', '2023-12-19', 196.422607421875);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (139, 'AAPL', '2023-12-20', 194.31814575195312);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (140, 'AAPL', '2023-12-21', 194.16851806640625);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (141, 'AAPL', '2023-12-22', 193.0913848876953);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (142, 'AAPL', '2023-12-26', 192.54283142089844);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (143, 'AAPL', '2023-12-27', 192.64254760742188);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (144, 'AAPL', '2023-12-28', 193.07142639160156);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (145, 'AAPL', '2023-12-29', 192.02418518066406);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (146, 'AAPL', '2024-01-02', 185.15228271484375);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (147, 'AAPL', '2024-01-03', 183.7659454345703);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (148, 'AAPL', '2024-01-04', 181.43209838867188);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (149, 'AAPL', '2024-01-05', 180.70399475097656);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (150, 'AAPL', '2024-01-08', 185.07249450683594);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (151, 'AAPL', '2024-01-09', 184.65359497070312);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (152, 'AAPL', '2024-01-10', 185.70083618164062);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (153, 'AAPL', '2024-01-11', 185.1024169921875);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (154, 'AAPL', '2024-01-12', 185.43154907226562);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (155, 'AAPL', '2024-01-16', 183.14756774902344);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (156, 'AAPL', '2024-01-17', 182.20005798339844);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (157, 'AAPL', '2024-01-18', 188.1344451904297);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (158, 'AAPL', '2024-01-19', 191.05673217773438);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (159, 'AAPL', '2024-01-22', 193.38059997558594);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (160, 'AAPL', '2024-01-23', 194.66722106933594);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (161, 'AAPL', '2024-01-24', 193.98899841308594);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (162, 'AAPL', '2024-01-25', 193.65988159179688);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (163, 'AAPL', '2024-01-26', 191.9144744873047);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (164, 'AAPL', '2024-01-29', 191.22628784179688);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (165, 'AAPL', '2024-01-30', 187.5459747314453);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (166, 'AAPL', '2024-01-31', 183.91554260253906);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (167, 'AAPL', '2024-02-01', 186.3690948486328);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (168, 'AAPL', '2024-02-02', 185.3617401123047);

In [6]:
%%sql

DELETE FROM stocks;
DELETE FROM history;

 * mysql+pymysql://csc370:***@localhost:3306/sprint1
0 rows affected.
0 rows affected.

[]

Store insert statements in a variable

In [7]:
# Store the SQL insert statements in a variable
%store sql_insert_statements_stock
%store sql_insert_statements_history

Stored 'sql_insert_statements_stock' (str)
Stored 'sql_insert_statements_history' (str)

Reads SQL file

In [8]:
%%sql

{sql_insert_statements_stock}
{sql_insert_statements_history}

 * mysql+pymysql://csc370:***@localhost:3306/sprint1
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [9]:
%%sql

-- First, ensure that the StockHasHistory table is empty
DELETE FROM StockHasHistory;

-- Insert data into StockHasHistory by matching StockID with HistoryID based on the Ticker
INSERT INTO StockHasHistory (StockID, HistoryID)
SELECT s.StockID, h.HistoryID
FROM Stocks s
JOIN History h ON s.Ticker = h.Ticker;

 * mysql+pymysql://csc370:***@localhost:3306/sprint1
0 rows affected.
3750 rows affected.

[]

In [10]:
%%sql

SELECT * FROM stocks;

 * mysql+pymysql://csc370:***@localhost:3306/sprint1
15 rows affected.

[(1, 'AAPL', 'Technology', 192.25, 1.264, 3.761),
 (2, 'MSFT', 'Technology', 415.13, 0.893, 3.194),
 (3, 'AMZN', 'Consumer Cyclical', 176.44, 1.155, 3.265),
 (4, 'GOOGL', 'Communication Services', 172.5, 1.019, 4.98),
 (5, 'META', 'Communication Services', 466.83, 1.208, 4.944),
 (6, 'TSLA', 'Consumer Cyclical', 178.08, 2.408, 1.859),
 (7, 'BRK-A', 'Financial Services', 627400.0, 0.894, 4.715),
 (8, 'JNJ', 'Healthcare', 146.67, 0.547, 7.459),
 (9, 'JPM', 'Financial Services', 202.63, 1.116, 8.177),
 (10, 'V', 'Financial Services', 272.46, 0.953, 4.103),
 (11, 'PG', 'Consumer Defensive', 164.54, 0.423, 4.236),
 (12, 'NVDA', 'Technology', 1096.33, 1.749, 3.253),
 (13, 'DIS', 'Communication Services', 103.91, 1.395, 5.255),
 (14, 'KO', 'Consumer Defensive', 62.93, 0.575, 4.783),
 (15, 'WMT', 'Consumer Defensive', 65.76, 0.494, 4.045)]

In [11]:
%%sql

SELECT * FROM history
LIMIT 10;

 * mysql+pymysql://csc370:***@localhost:3306/sprint1
10 rows affected.

[(1, 'AAPL', '2023-06-05', 178.631),
 (2, 'AAPL', '2023-06-06', 178.263),
 (3, 'AAPL', '2023-06-07', 176.881),
 (4, 'AAPL', '2023-06-08', 179.616),
 (5, 'AAPL', '2023-06-09', 180.004),
 (6, 'AAPL', '2023-06-12', 182.819),
 (7, 'AAPL', '2023-06-13', 182.342),
 (8, 'AAPL', '2023-06-14', 182.978),
 (9, 'AAPL', '2023-06-15', 185.027),
 (10, 'AAPL', '2023-06-16', 183.943)]

In the future we will work on joining the History table and the Stocks table through the StocksHasHistory relationship table.

We may want to see which stocks have the highest price.

In [12]:
%%sql

SELECT * FROM stocks
ORDER BY Price DESC;

 * mysql+pymysql://csc370:***@localhost:3306/sprint1
15 rows affected.

[(7, 'BRK-A', 'Financial Services', 627400.0, 0.894, 4.715),
 (12, 'NVDA', 'Technology', 1096.33, 1.749, 3.253),
 (5, 'META', 'Communication Services', 466.83, 1.208, 4.944),
 (2, 'MSFT', 'Technology', 415.13, 0.893, 3.194),
 (10, 'V', 'Financial Services', 272.46, 0.953, 4.103),
 (9, 'JPM', 'Financial Services', 202.63, 1.116, 8.177),
 (1, 'AAPL', 'Technology', 192.25, 1.264, 3.761),
 (6, 'TSLA', 'Consumer Cyclical', 178.08, 2.408, 1.859),
 (3, 'AMZN', 'Consumer Cyclical', 176.44, 1.155, 3.265),
 (4, 'GOOGL', 'Communication Services', 172.5, 1.019, 4.98),
 (11, 'PG', 'Consumer Defensive', 164.54, 0.423, 4.236),
 (8, 'JNJ', 'Healthcare', 146.67, 0.547, 7.459),
 (13, 'DIS', 'Communication Services', 103.91, 1.395, 5.255),
 (15, 'WMT', 'Consumer Defensive', 65.76, 0.494, 4.045),
 (14, 'KO', 'Consumer Defensive', 62.93, 0.575, 4.783)]

We may want to see how many of these stocks are in the unique sectors. This helps with diversification

In [13]:
%%sql

SELECT Sector, COUNT(*) AS NumberOfStocks
FROM stocks
GROUP BY Sector;

 * mysql+pymysql://csc370:***@localhost:3306/sprint1
6 rows affected.

[('Technology', 3),
 ('Consumer Cyclical', 2),
 ('Communication Services', 3),
 ('Financial Services', 3),
 ('Healthcare', 1),
 ('Consumer Defensive', 3)]

For each sectory we can see the average standard deviation which shows which sectory may be more risky

In [14]:
%%sql

SELECT Sector, ROUND(AVG(SD), 3) AS AverageSD
FROM stocks
GROUP BY Sector;

 * mysql+pymysql://csc370:***@localhost:3306/sprint1
6 rows affected.

[('Technology', 1.302),
 ('Consumer Cyclical', 1.781),
 ('Communication Services', 1.207),
 ('Financial Services', 0.988),
 ('Healthcare', 0.547),
 ('Consumer Defensive', 0.497)]

If the user wants 10 stocks but has interest in 15, we can take the 10 stocks with the highest estimated return.

In [15]:
%%sql

DELETE FROM stocks
WHERE StockID IN (
    SELECT StockID
    FROM (
        SELECT StockID
        FROM stocks
        ORDER BY ERet ASC
        LIMIT 5
    ) AS subquery
);

 * mysql+pymysql://csc370:***@localhost:3306/sprint1
(pymysql.err.IntegrityError) (1451, 'Cannot delete or update a parent row: a foreign key constraint fails (`sprint1`.`stockhashistory`, CONSTRAINT `stockhashistory_ibfk_1` FOREIGN KEY (`StockID`) REFERENCES `stocks` (`StockID`))')
[SQL: DELETE FROM stocks
WHERE StockID IN (
    SELECT StockID
    FROM (
        SELECT StockID
        FROM stocks
        ORDER BY ERet ASC
        LIMIT 5
    ) AS subquery
);]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

In [16]:
%%sql

SELECT * FROM stocks;

 * mysql+pymysql://csc370:***@localhost:3306/sprint1
15 rows affected.

[(1, 'AAPL', 'Technology', 192.25, 1.264, 3.761),
 (2, 'MSFT', 'Technology', 415.13, 0.893, 3.194),
 (3, 'AMZN', 'Consumer Cyclical', 176.44, 1.155, 3.265),
 (4, 'GOOGL', 'Communication Services', 172.5, 1.019, 4.98),
 (5, 'META', 'Communication Services', 466.83, 1.208, 4.944),
 (6, 'TSLA', 'Consumer Cyclical', 178.08, 2.408, 1.859),
 (7, 'BRK-A', 'Financial Services', 627400.0, 0.894, 4.715),
 (8, 'JNJ', 'Healthcare', 146.67, 0.547, 7.459),
 (9, 'JPM', 'Financial Services', 202.63, 1.116, 8.177),
 (10, 'V', 'Financial Services', 272.46, 0.953, 4.103),
 (11, 'PG', 'Consumer Defensive', 164.54, 0.423, 4.236),
 (12, 'NVDA', 'Technology', 1096.33, 1.749, 3.253),
 (13, 'DIS', 'Communication Services', 103.91, 1.395, 5.255),
 (14, 'KO', 'Consumer Defensive', 62.93, 0.575, 4.783),
 (15, 'WMT', 'Consumer Defensive', 65.76, 0.494, 4.045)]

In [17]:
%%sql

-- First, ensure that the StockHasHistory table is empty
DELETE FROM StockHasHistory;

-- Insert data into StockHasHistory by matching StockID with HistoryID based on the Ticker
INSERT INTO StockHasHistory (StockID, HistoryID)
SELECT s.StockID, h.HistoryID
FROM Stocks s
JOIN History h ON s.Ticker = h.Ticker;

 * mysql+pymysql://csc370:***@localhost:3306/sprint1
3750 rows affected.
3750 rows affected.

[]

In [23]:
%%sql

SELECT 
    s.StockID,
    s.Ticker AS StockTicker,
    s.Sector,
    s.Price AS CurrentPrice,
    s.SD,
    s.ERet,
    h.HistoryID,
    h.Date,
    h.Price AS HistoricalPrice
FROM 
    Stocks s
JOIN 
    StockHasHistory shh ON s.StockID = shh.StockID
JOIN 
    History h ON shh.HistoryID = h.HistoryID
WHERE 
    s.Ticker = 'AAPL'
ORDER BY 
    h.Date ASC
LIMIT 10;

 * mysql+pymysql://csc370:***@localhost:3306/sprint1
10 rows affected.

[(1, 'AAPL', 'Technology', 192.25, 1.264, 3.761, 1, '2023-06-05', 178.631),
 (1, 'AAPL', 'Technology', 192.25, 1.264, 3.761, 2, '2023-06-06', 178.263),
 (1, 'AAPL', 'Technology', 192.25, 1.264, 3.761, 3, '2023-06-07', 176.881),
 (1, 'AAPL', 'Technology', 192.25, 1.264, 3.761, 4, '2023-06-08', 179.616),
 (1, 'AAPL', 'Technology', 192.25, 1.264, 3.761, 5, '2023-06-09', 180.004),
 (1, 'AAPL', 'Technology', 192.25, 1.264, 3.761, 6, '2023-06-12', 182.819),
 (1, 'AAPL', 'Technology', 192.25, 1.264, 3.761, 7, '2023-06-13', 182.342),
 (1, 'AAPL', 'Technology', 192.25, 1.264, 3.761, 8, '2023-06-14', 182.978),
 (1, 'AAPL', 'Technology', 192.25, 1.264, 3.761, 9, '2023-06-15', 185.027),
 (1, 'AAPL', 'Technology', 192.25, 1.264, 3.761, 10, '2023-06-16', 183.943)]

In [20]:
%%sql

SELECT 
    s.StockID,
    s.Ticker AS StockTicker,
    s.Sector,
    s.Price AS CurrentPrice,
    s.SD,
    s.ERet,
    h.HistoryID,
    h.Date,
    h.Price AS HistoricalPrice
FROM 
    Stocks s
JOIN 
    StockHasHistory shh ON s.StockID = shh.StockID
JOIN 
    History h ON shh.HistoryID = h.HistoryID
WHERE 
    h.Date = '2023-09-20';

 * mysql+pymysql://csc370:***@localhost:3306/sprint1
15 rows affected.

[(1, 'AAPL', 'Technology', 192.25, 1.264, 3.761, 75, '2023-09-20', 174.799),
 (2, 'MSFT', 'Technology', 415.13, 0.893, 3.194, 325, '2023-09-20', 318.954),
 (3, 'AMZN', 'Consumer Cyclical', 176.44, 1.155, 3.265, 575, '2023-09-20', 135.29),
 (4, 'GOOGL', 'Communication Services', 172.5, 1.019, 4.98, 825, '2023-09-20', 133.74),
 (5, 'META', 'Communication Services', 466.83, 1.208, 4.944, 1075, '2023-09-20', 299.352),
 (6, 'TSLA', 'Consumer Cyclical', 178.08, 2.408, 1.859, 1325, '2023-09-20', 262.59),
 (7, 'BRK-A', 'Financial Services', 627400.0, 0.894, 4.715, 1575, '2023-09-20', 556580.0),
 (8, 'JNJ', 'Healthcare', 146.67, 0.547, 7.459, 1825, '2023-09-20', 159.112),
 (9, 'JPM', 'Financial Services', 202.63, 1.116, 8.177, 2075, '2023-09-20', 145.463),
 (10, 'V', 'Financial Services', 272.46, 0.953, 4.103, 2325, '2023-09-20', 240.452),
 (11, 'PG', 'Consumer Defensive', 164.54, 0.423, 4.236, 2575, '2023-09-20', 150.578),
 (12, 'NVDA', 'Technology', 1096.33, 1.749, 3.253, 2825, '2023-09-20', 422.333),
 (13, 'DIS', 'Communication Services', 103.91, 1.395, 5.255, 3075, '2023-09-20', 82.2918),
 (14, 'KO', 'Consumer Defensive', 62.93, 0.575, 4.783, 3325, '2023-09-20', 57.5183),
 (15, 'WMT', 'Consumer Defensive', 65.76, 0.494, 4.045, 3575, '2023-09-20', 54.0626)]